.technologies {
  background-color: rgb(47, 47, 47);
  padding-top: 60px;
}
.technologies__container__title {
  margin-top: 2rem;
  font-size: 1.3rem;
  color: rgb(247, 247, 247);
  text-align: center;
  display: table;
  position: relative;
  margin: 0px auto 72px;
  font-weight: bold;
}
.technologies__container__title h2::before {
  bottom: 20px;
  left: -11px;
  content: "";
  display: block;
  position: absolute;
  background: rgb(255, 182, 51) none repeat scroll 0% 0%;
  width: 80%;
  height: 3px;
  border-radius: 50px;
  transition: left 0.5s ease-in-out 0s, right 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s;
  opacity: 1;
}
.technologies__container__title h2::after {
  content: "";
  bottom: 6px;
  right: -12px;
  display: block;
  position: absolute;
  background: rgb(255, 182, 51) none repeat scroll 0% 0%;
  width: 80%;
  height: 3px;
  border-radius: 50px;
  transition: left 0.5s ease-in-out 0s, right 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s;
  opacity: 1;
}
.technologies__container__secondtitle {
  margin-top: 2rem;
  font-size: 1.3rem;
  color: rgb(247, 247, 247);
  text-align: center;
  display: table;
  position: relative;
  margin: 0px auto 72px;
  margin-top: 0px;
  font-weight: bold;
}
.technologies__container__secondtitle h2::before {
  bottom: 20px;
  left: -11px;
  content: "";
  display: block;
  position: absolute;
  background: rgb(255, 182, 51) none repeat scroll 0% 0%;
  width: 80%;
  height: 3px;
  border-radius: 50px;
  transition: left 0.5s ease-in-out 0s, right 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s;
  opacity: 1;
}
.technologies__container__secondtitle h2::after {
  content: "";
  bottom: 6px;
  right: -12px;
  display: block;
  position: absolute;
  background: rgb(255, 182, 51) none repeat scroll 0% 0%;
  width: 80%;
  height: 3px;
  border-radius: 50px;
  transition: left 0.5s ease-in-out 0s, right 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s;
  opacity: 1;
}
.technologies__container__element:hover {
  cursor: pointer;
}
.technologies__container__elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.technologies__container__element:hover {
  box-shadow: 0 0 6px 6px rgb(255, 182, 51);
}
.technologies__container__element {
  border: 2px solid rgb(255, 182, 51);
  min-height: 680px;
  padding: 2rem;
  border-radius: 60px;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  background-color: rgb(39, 39, 39);
  opacity: 1;
  transform: translateX(0px);
  transition: opacity 0.5s ease 0s, transform 0.5s ease 0s;
  box-shadow: 0 0 2px 2px rgb(255, 182, 51);
}
@media (min-width: 576px) {
  .technologies__container__element {
    width: 400px;
  }
}
.technologies__container__element__title {
  padding-top: 2rem;
  font-size: 2rem;
}
.technologies__container__element__description {
  margin-top: 2rem;
  font-size: 1.5rem;
}
.technologies__container__element__image img {
  width: 200px;
  height: 200px;
}
.technologies__container__restelement {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}
@media (min-width: 992px) {
  .technologies__container__restelement {
    padding-left: 2rem;
  }
}
.technologies__container__restelement__title {
  padding: 1rem;
  border: 2px solid rgb(255, 182, 51);
  margin-bottom: 1rem;
  margin-right: 1rem;
  transition: 0.5s;
}
@media (min-width: 992px) {
  .technologies__container__restelement__title {
    font-size: 1.3rem;
  }
}
.technologies__container__restelement__title:hover {
  background-color: #ffb633;
  cursor: pointer;
  transform: perspective(500px) rotateY(30deg);
  text-shadow: -6px 3px 2px rgba(0, 0, 0, 0.2);
  box-shadow: -2px 0 0 5px rgba(0, 0, 0, 0.2);
}

/*# sourceMappingURL=technologies.css.map */
